.recupera {
  padding: 20px;
  font-weight: bold;
  margin-top: 10px;
}   

.btn {
  background: #e28000;
  border: none;
  padding: 8px 15px;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.btn:hover {
  background: #016924;
}
.alert {
  padding: 15px;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  animation: fadeIn 0.5s;
  background-color: #d4edda; /* Garanta que a cor de fundo esteja aqui */
  color: #155724;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}